.top {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.top input{
    width: 30em;
    height: 3.5em;
}


.billSection{
  display: flex;
  gap: 1em;
  justify-content: flex-end;
}
.group{
  display: flex;
  gap: 1em;
}
table td{
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}