@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body{
  width: 100vw;
  height: 100vh;
}
.register-block {
  float: left;
  width: 100%;
  padding: 50px 0;
 
}
/* https://cdn.flashtalking.com/190737/4600367/FY24Q1_CC_Individual_CCIAllApps_in_en_UnWrp-NoCreator_AN_300x250.gif?238785384 */
/* https://wallpaperaccess.com/full/5004698.jpg */
.container {
  background-color: #ffffff;
  border-radius: 25px;
  width: 40%;
  height: 40%;
  margin-top: 2em;
  box-shadow: 10px 10px 30px 10px rgb(214, 209, 209);
}

.register-sec {
  padding: 50px 30px;
  position: relative;
}
.register-sec h2 {
  margin-bottom: 30px;
  font-weight: 100;
  font-size: 30px;
  color: #08a9fa;
}
.register-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #6ec6ff;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.btn-login {
  background: #418cfb;
  color: #fff;
  font-weight: 600;
}
input[type=submit]{
  cursor: pointer;
}

