body{
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.register-block {
  float: left;
  width: 100%;
  padding: 50px 0;
 
}
/* https://cdn.flashtalking.com/190737/4600367/FY24Q1_CC_Individual_CCIAllApps_in_en_UnWrp-NoCreator_AN_300x250.gif?238785384 */
/* https://wallpaperaccess.com/full/5004698.jpg */
.container {
  background-color:#fff;
  border: 2px solid white;
  border-radius: 10px;
  width: 40%;
  height: 40%;
  margin-top: 3em;
}

.register-sec {
  padding: 50px 30px;
  position: relative;
}
.register-sec h2 {
  margin-bottom: 30px;
  font-weight: 8200;
  font-size: 30px;
  color: #020a12;
}
.register-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #0293f3;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.btn-login {
  background: #418cfb;
  color: #fff;
  font-weight: 600;
}
input[type=submit]{
  cursor: pointer;
}

